html {
  overflow: hidden;
}

body{
    padding: 0;
    margin: 0;
    background: #1a1a1a;
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: auto;
}

a {
	text-decoration: none;
    font-family: 'Orbitron';
}

.orbitron{
  font-family: 'Orbitron';
}

.home-buffer{
  opacity: 0;
  padding: 0;
}

.content-info {

}

.info-btn1 {
  top: 100px;
}

.info-btn2 {
  top: 200px;
}

.info-btn3 {
  top: 300px;
}

div.button {
  color: #2c3e50;
  border: none;
  border-radius: 30px;
  text-align: left;
  width: 500px;
  height: 60px;
  position: absolute;
  left: -435px;
  transition: .7s ease;
}

div.info-btn1{
  background-color: rgba(201,235,254,1);
}

div.info-btn2{
  background-color: rgba(255,254,230,1);
}

div.info-btn3{
  background-color: rgba(205,245,217,1);
}

.btn-text{
  text-align: right;
  position: relative;
  padding-right: 65px;
  top: 0;
  font-family: 'Orbitron';
}

div.button.info-btn1:hover {
  background-color: rgba(201,235,254,1);
  left: -300px;
  width: 600px;
  border-radius: 30px;
  box-shadow: 0 0 14px 4px rgba(55,183,251, 0.7);
}

div.button.info-btn2:hover {
  background-color: rgba(255,254,230,1);
  left: -300px;
  width: 600px;
  border-radius: 30px;
  box-shadow: 0 0 14px 4px rgba(255,242,0,0.7);
}

div.button.info-btn3:hover {
  background-color: rgba(205,245,217,1);
  left: -300px;
  width: 600px;
  border-radius: 30px;
  box-shadow: 0 0 14px 4px rgba(34,177,78, 0.7);
}

div.button:active {
  background-color: #2c3e50;
  transition: 0s;
  color: #ecf0f1;
}

.parallax-wrapper-home{
  width: 100vw;
  height: 1595px;
  padding-top: 20vh;
  box-sizing: border-box;
  transform-style: preserve-3d;

}

.parallax-wrapper-home::before{
  content: "";
  position: absolute;
  width: 100vw;
  height: 200vh;
  top: 0;
  left: 0;
  background-image: url(../img/CoverPhotoSky2.jpg);
  background-size: cover;
  background-position: center;
  background-size: 100% auto;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
}

.parallax-wrapper-gallery{
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.parallax-wrapper-gallery::before{
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url(../img/CoverPhoto2.jpg);
  background-size: cover;
  background-position: center;
  background-size: 100% auto;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
}

.parallax-wrapper-contacts{
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.parallax-wrapper-contacts::before{
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url(../img/DSC02153.JPG);
  background-size: cover;
  background-position: center;
  background-size: 100% auto;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
}

.regular-wrapper-info{
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  background-image: url(../img/DSC02175.JPG);
  background-size: cover;
  background-position: center;
  background-size: 100% auto;
  z-index: 2;
  position: relative;
}

.regular-wrapper-gallery{
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  background-image: url(../img/SaberSnow2.jpg);
  background-size: cover;
  background-position: center;
  background-size: 100% auto;
  z-index: 2;
  position: relative;
}

.regular-wrapper-contacts{
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  background-image: url(../img/DSC02175.JPG);
  background-size: cover;
  background-position: center;
  background-size: 100% auto;
  z-index: 2;
  position: relative;
}

.content-wrapper{
  margin: 0 auto;
  padding: 50px;
  width: 65%;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.85);
  //font-family: 'Orbitron';
  color: white;
}

.columns{
  display: grid;
  grid-template-columns: 30% 1fr;
}

.col1{
  text-align: center;
}

.col2{
    background-image: url(../img/GuildLayout.png);
    background-size: cover;
    background-position: center;
    background-size: 90% 100%;
    background-repeat: no-repeat;
}

// Ham menu
.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.85);
}

.wing-container{
  position: absolute;
  top: 30%;
  left: 35%;
  width: 600px;
  height: 420px;
  //margin-top: -508px;
  z-index: 100;
  background: none;
  transform: scale(1.5,1.5);
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

.ham-container {
    position: sticky;
    top: -8%;
    left: 35%;
    width: 600px;
    height: 420px;
    margin-top: -1302px;
    z-index: 100;
    background: none;
    transform: scale(1.5,1.5);
    overflow: hidden;
    color: #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;

}

.displayed-container {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 350px;
  height: 175px;
  margin-top: -140px;
  margin-left: -175px;
  z-index: initial;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  transform: scale(1.5,1.5);
}

.displayed-container.fade-in {
  animation: element-fade-in 4s ease-in both;
}

.displayed-container.fade-out {
  animation: element-fade-out 3s ease-in both;
}

.ham-container.move-up {
  animation: ham-container-move-up 3s ease-in-out both;
}

.ham-container.move-down {
  animation: ham-container-move-down 3s ease-in-out both;
}

.content-container {
  opacity: 0;
}

.content-container::before {
  content: "";
  background-image: url(../img/SaberSnow2.jpg);
  position: absolute;
}

.content-container.fade-in {
  animation: element-fade-in 4s ease-in both;
}

.content-container.fade-out {
  animation: element-fade-out 3s ease-in both;
}

.content-home {
  opacity: 0;
}

.content-home.fade-in {
  animation: element-fade-in 4s ease-in both;
}

.content-home.fade-out {
  animation: element-fade-out 3s ease-in both;
}

.spacer {
      margin-bottom: 80em;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

.circle-center {
    position: absolute;
    top: 50%;
    left: 30%;
    height: 470px;
    width: 530px;
}

.enter-button {
    position: absolute;
    height: 470px;
    width: 530px;
    top: 32%;
    left: 48.4%;

}

.center-text {
  top: 42%;
  left: 46.3%;
}

.center-saber{
  transition: all .5s ease-in;
}

.menu{
    position: absolute;
    width: 50px;
    height: 25px;
    top: -28px;
    left: -25px;
    cursor: pointer;
}
.menu .menu-top{
    position: absolute;
    left: -10%;
    width: 60px;
    height: 10px;
    top: -19px;
    transition: .7s;
}

.menu .top-line{
    position: absolute;
    width: 0;
    height: 6px;
    top: -37px;
    left: -47px; // -40
    border-radius: 25px;
    background: rgba(205,245,217,1);
    transition: all .5s ease-out;
}
.menu .menu-bottom{
    position: absolute;

    width: 60px;
    height: 10px;
    top: 20px;
    left: -10%;
    bottom: 0;
    //background: #ff6a00;
  //  border-radius: 20px;
    transition: .7s;
}
.menu .bottom-line{
    position: absolute;
    width: 0;
    height: 6px;
    top: 41px;
    right: -45px; // 49
    border-radius: 25px;
    background: rgba(201,235,254,1);
    transition: all 0.5s ease-out;
}
.menu-items {
    position: absolute;
    width: 300px;
    height: 20px;
    top: -50px;
    left: -194px; //-185
    padding: 5px 10px;
    pointer-events: none;
    opacity: 0;
    transition: all 2s ease-in-out;
    z-index: 20
}
.menu-items ul{
    list-style: none;
    line-height: 20px;
    color: #ff6a00;
    text-shadow: 0 0 0.5em #ff6a00;
    text-transform: uppercase;
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.menu-items ul li{
    position: relative;
    display: block;
    flex: 0 1 auto;
    cursor: pointer;
    transition: all .5s ease-in;
}
.menu-items ul li:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.a{
    color: #ccc;
}

// Content
.wapper {

}

/* javascript active mode  */
.logo-center.active {
  animation: element-fade-out 2.5s both;
}

.logo-center.inactive {
  animation: element-fade-in 4s both;
}

.third-saber.active {
  animation: element-fade-out 3s both;
}

.third-saber.inactive {
  animation: element-fade-in 3s both;
}

.logo-right.active {
  animation: logo-right-out 2s ease-in-out both;
}

.logo-right.inactive {
  animation: logo-right-in 2s ease-in-out both;
}

.logo-right-circle.active {
  animation: logo-right-out 2s ease-in-out both;
}

.logo-right-circle.inactive {
  animation: logo-right-in 2s ease-in-out both;
}

.logo-left.active {
  animation: logo-left-out 2s ease-in-out both;
}

.logo-left.inactive {
  animation: logo-left-in 2s ease-in-out both;
}

.logo-left-circle.active {
  animation: logo-left-out 2s ease-in-out both;
}

.logo-left-circle.inactive {
  animation: logo-left-in 2s ease-in-out both;
}

.menu.content-active {
  animation: element-fade-out 3s ease-in-out both;
}

// Fade out logo with content selection

.menu.active{
    pointer-events: all;
}
.menu.active .menu-top {
  -webkit-animation: line-top-open 3s ease both;
          animation: line-top-open 3s ease both;
}
.menu.active .top-line {
  -webkit-animation: lightsaber-top-open .5s ease-in 3s both;
          animation: lightsaber-top-open .5s ease-in 3s both;
}

.menu.active .menu-bottom {
  -webkit-animation: line-bottom-open 3s ease both;
          animation: line-bottom-open 3s ease both;
}

.menu.active .bottom-line {
  -webkit-animation: lightsaber-bottom-open .5s ease-in 3s both;
          animation: lightsaber-bottom-open .5s ease-in 3s both;
}
.menu.inactive {
  pointer-events: all;
}
.menu.inactive .menu-top {
  -webkit-animation: line-top-close 3s ease 1s both;
          animation: line-top-close 3s ease 1s both;
}
.menu.inactive .top-line {
  -webkit-animation: lightsaber-bottom-close .5s ease;
          animation: lightsaber-bottom-close .5s ease;
}
.menu.inactive .menu-bottom {
  -webkit-animation: line-bottom-close 3s ease 1s both;
          animation: line-bottom-close 3s ease 1s both;
}
.menu.inactive .bottom-line {
  -webkit-animation: lightsaber-bottom-close .5s ease;
          animation: lightsaber-bottom-close .5s ease;
}

.menu-items.active {
    opacity: 1;
    pointer-events: all;
    transition: all 2s ease-in 2s;
}

// Key Frames

@keyframes element-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes element-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes logo-right-out {
  from {
    left: 48.4%;
  }
  to {
    left: 71.8%;
  }
}

@keyframes logo-right-in {
  from {
    left: 71.8%;
  }
  to {
    left: 48.4%;
  }
}

@keyframes logo-left-out {
  from {
    left: 48.4%;
  }
  to {
    left: 25%;
  }
}

@keyframes logo-left-in {
  from {
    left: 25%;
  }
  to {
    left: 48.4%;
  }
}

@keyframes menu-content-out {
  from {
    top: -25px;
  }
  to {
    top: -190px;
  }
}

@-webkit-keyframes line-top-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateX(-100px) translateY(-20px);
            transform: translateX(-100px) translateY(-20px);
  }
}

@keyframes line-top-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateX(-100px) translateY(-20px);
            transform: translateX(-100px) translateY(-20px);
  }
}

@-webkit-keyframes line-top-close {
  0% {
    -webkit-transform: translateX(-100px) translateY(-20px);
            transform: translateX(-100px) translateY(-20px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@keyframes line-top-close {
  0% {
    -webkit-transform: translateX(-100px) translateY(-20px);
            transform: translateX(-100px) translateY(-20px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@-webkit-keyframes line-bottom-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateX(100px) translateY(20px);
            transform: translateX(100px) translateY(20px);
  }
}
@keyframes line-bottom-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateX(100px) translateY(20px);
            transform: translateX(100px) translateY(20px);
  }
}

@-webkit-keyframes line-bottom-close {
  0% {
    -webkit-transform: translateX(100px) translateY(20px);
            transform: translateX(100px) translateY(20px);
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@keyframes line-bottom-close {
  0% {
    -webkit-transform: translateX(100px) translateY(20px);
            transform: translateX(100px) translateY(20px);
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@-webkit-keyframes lightsaber-top-open {
  0% {
    width: 0px;
  }
  100% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(34,177,78, 0.7);
  }
}
@keyframes lightsaber-top-open {
  0% {
    width: 0px;
  }
  100% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(34,177,78, 0.7);
  }
}
@-webkit-keyframes lightsaber-top-close {
  0% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(34,177,78, 0.7);
  }
  100% {
    width: 0px;
  }
}
@keyframes lightsaber-top-close {
  0% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(34,177,78, 0.7);
  }
  100% {
    width: 0px;
  }
}
@-webkit-keyframes lightsaber-bottom-open {
  0% {
    width: 0px;
  }
  100% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(55,183,251, 0.7);
  }
}
@keyframes lightsaber-bottom-open {
  0% {
    width: 0px;
  }
  100% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(55,183,251, 0.7);
  }
}
@-webkit-keyframes lightsaber-bottom-close {
  0% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(55,183,251, 0.7);
  }
  100% {
    width: 0px;
  }
}
@keyframes lightsaber-bottom-close {
  0% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(55,183,251, 0.7);
  }
  100% {
    width: 0px;
  }
}
@keyframes ham-container-move-up {

}
@keyframes ham-container-move-down {

}
@keyframes cicle-backgrouds {
  0%,100% {
    background-image: url(../img/CoverPhoto2.jpg);
    opacity: 1;
  }
  25% {
    background-image: url(../img/CoverPhoto.jpg);
    opacity: 1;
  }
  50%{
    background-image: url(../img/StairsCoverPhoto2.jpg);
    opacity: 1;
  }
  75%{
    background-image: url(../img/SaberSnow3.jpg);
    opacity: 1;
  }
}

// Caroucel
.caroucel {
  position: relative;
  height: 500px;
  width: 50%;
  margin: auto;
  margin-bottom: 40em;
}

.caroucel-images {
  width: 100%;
  height: 100%;
  object-fit:contain;
}

.caroucel-track-container {
  background: lightgreen;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.caroucel-track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.caroucel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.caroucel-button-left {
  left: -40px;
}

.caroucel-button-right {
  right: -40px;
}

.caroucel-button{
  position: absolute;
  top:50%;
  transform: trnslateY(-50%);
  cursor: pointer;
}

.caroucel-nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.caroucel-indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(0,0,0,.3);
  margin: 0 15px;
  cursor: pointer;
}

.caroucel-indicator.current-slide {
  background: rgba(0,0,0,0.75)
}

.is-hidden {
  display: none;
}

.bordering-images {

}

// Email form
label, input, textarea {
  display: block;
}
