
body, html{
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8em;
  color: white;
}

// Background Images
 .simg1, .pimg2, .simg2, .pimg3, .simg3, .pimg4, .simg4 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.pimg1{
  background-image: url(../img/CoverPhotoSky2.jpg);
  min-height: 150vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.simg1{
  background-image: url(../img/CoverPhoto2.jpg);;
  min-height: 1000px;
}

.pimg2{
  background-image: url(../img/SaberSnow2.jpg);
  min-height: 100%;
}

.simg2{
  background-image: url(../img/DSC02153.JPG);
  min-height: 1000px;
}

.pimg3{
  background-image: url(../img/DSC02175.JPG);
  min-height: 100%;
}

.simg3{
  background-image: url(../img/Water.jpg);
  min-height: 1000px;
}

.pimg4{
  background-image: url(../img/Fuzzy.jpg);
  min-height: 100%;
}

.simg4{
  background-image: url(../img/Wallpaper_BOS_final.jpg);
  min-height: 100%;
}
// Sections
.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light{
  background-color: #f4f4f4;
  color: #666;
}

.section-dark {
  background-color: #282E34;
  color: #ddd;
}

.content-wrapper{
  position: relative;
  top: 50%;
  left: 25%;
  padding: 50px;
  width: 65%;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.85);
  //font-family: 'Orbitron';
}

.padding {
  padding-top: 80px;
}

// Ham
.wing-container{
  position: absolute;
  top: 25%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  background: none;
  overflow: hidden;
  transform: scale(3,3);
}

.ham-container {
  position: absolute;
  top: 25%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  background: none;
  overflow: hidden;
  color: #ccc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  transform: scale(3,3);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}

.enter-button {
  position: absolute;
  width:50%;
  height:50%;
  margin:auto 0%;
}

.center-text {
  margin:53.5% 48%;
  font-size: 8px;
  font-family: 'Orbitron';
}

.spacer {
  margin-bottom: 30em;
}

// Ham - Menu
.menu{
  position: absolute;
  width:50%;
  height:50%;
  margin: 46% 50%;
  cursor: pointer;
}
.menu .menu-top{
  position: absolute;
  width: 10%;
  height: 10%;
  left: -3%;
  top: 10%;
  transition: .7s;
}

.menu .top-line{
  position: absolute;
  width: 0;
  height: 3px;
  top: 16px;
  left: -36.3px;
  border-radius: 25px;
  background: rgba(205,245,217,1);
  transition: all .5s ease-out;
}
.menu .menu-bottom{
  position: absolute;
  width: 10%;
  height: 10%;
  left: -3%;
  top: 16%;
  bottom: 0;
  transition: .7s;
}
.menu .bottom-line{
  position: absolute;
  width: 0;
  height: 3px;
  top: 52px;
  right: 156px;
  border-radius: 25px;
  background: rgba(201,235,254,1);
  transition: all 0.5s ease-out;
}
.menu-items {
  position: absolute;
  width: 120px;
  height: 20px;
  margin: 50% 21%;
  padding: 5px 10px;
  pointer-events: none;
  opacity: 0;
  transition: all 2s ease-in-out;
  z-index: 20;
  font-family: 'Orbitron';
}
.menu-items ul{
  list-style: none;
  line-height: 20px;
  color: #ff6a00;
  text-transform: uppercase;
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 6px;
}
.menu-items ul li{
  position: relative;
  display: block;
  flex: 0 1 auto;
  cursor: pointer;
  transition: all .5s ease-in;
}
.menu-items ul li:hover{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.a{
    color: #ccc;
}

/* javascript active mode  */
.logo-center.active {
  animation: element-fade-out 2.5s both;
}

.logo-center.inactive {
  animation: element-fade-in 4s both;
}

.third-saber.active {
  animation: element-fade-out 3s both;
}

.third-saber.inactive {
  animation: element-fade-in 3s both;
}

.logo-right.active {
  animation: logo-right-out 2s ease-in-out both;
}

.logo-right.inactive {
  animation: logo-right-in 2s ease-in-out both;
}

.logo-right-circle.active {
  animation: logo-right-out 2s ease-in-out both;
}

.logo-right-circle.inactive {
  animation: logo-right-in 2s ease-in-out both;
}

.logo-left.active {
  animation: logo-left-out 2s ease-in-out both;
}

.logo-left.inactive {
  animation: logo-left-in 2s ease-in-out both;
}

.logo-left-circle.active {
  animation: logo-left-out 2s ease-in-out both;
}

.logo-left-circle.inactive {
  animation: logo-left-in 2s ease-in-out both;
}

.menu.content-active {
  animation: element-fade-out 3s ease-in-out both;
}

// Fade out logo with content selection

.menu.active{
    pointer-events: all;
}
.menu.active .menu-top {
  -webkit-animation: line-top-open 3s ease both;
          animation: line-top-open 3s ease both;
}
.menu.active .top-line {
  -webkit-animation: lightsaber-top-open .5s ease-in 3s both;
          animation: lightsaber-top-open .5s ease-in 3s both;
}

.menu.active .menu-bottom {
  -webkit-animation: line-bottom-open 3s ease both;
          animation: line-bottom-open 3s ease both;
}

.menu.active .bottom-line {
  -webkit-animation: lightsaber-bottom-open .5s ease-in 3s both;
          animation: lightsaber-bottom-open .5s ease-in 3s both;
}
.menu.inactive {
  pointer-events: all;
}
.menu.inactive .menu-top {
  -webkit-animation: line-top-close 3s ease 1s both;
          animation: line-top-close 3s ease 1s both;
}
.menu.inactive .top-line {
  -webkit-animation: lightsaber-bottom-close .5s ease;
          animation: lightsaber-bottom-close .5s ease;
}
.menu.inactive .menu-bottom {
  -webkit-animation: line-bottom-close 3s ease 1s both;
          animation: line-bottom-close 3s ease 1s both;
}
.menu.inactive .bottom-line {
  -webkit-animation: lightsaber-bottom-close .5s ease;
          animation: lightsaber-bottom-close .5s ease;
}

.menu-items.active {
    opacity: 1;
    pointer-events: all;
    transition: all 2s ease-in 2s;
}

.menu.active::before {
  animation: saber-before 5.85s linear 0 1; 
}

// Key Frames

@keyframes element-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes element-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes logo-right-out {
  from {
    left: 50%;
  }
  to {
    left: 67%;
  }
}

@keyframes logo-right-in {
  from {
    left: 67%;
  }
  to {
    left: 50%;
  }
}

@keyframes logo-left-out {
  from {
    left: 50%;
  }
  to {
    left: 33%;
  }
}

@keyframes logo-left-in {
  from {
    left: 33%;
  }
  to {
    left: 50%;
  }
}

@-webkit-keyframes line-top-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  100% {
    -webkit-transform: translateX(-50px) translateY(-12px);
            transform: translateX(-50px) translateY(-12px);
  }
}

@keyframes line-top-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  100% {
    -webkit-transform: translateX(-50px) translateY(-12px);
            transform: translateX(-50px) translateY(-12px);
  }
}

@-webkit-keyframes line-top-close {
  0% {
    -webkit-transform: translateX(-50px) translateY(-12px);
            transform: translateX(-50px) translateY(-12px);
  }
  20% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@keyframes line-top-close {
  0% {
    -webkit-transform: translateX(-50px) translateY(-12px);
            transform: translateX(-50px) translateY(-12px);
  }
  20% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@-webkit-keyframes line-bottom-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(12px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateX(50px) translateY(12px);
            transform: translateX(50px) translateY(12px);
  }
}
@keyframes line-bottom-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
  100% {
    -webkit-transform: translateX(50px) translateY(12px);
            transform: translateX(50px) translateY(12px);
  }
}

@-webkit-keyframes line-bottom-close {
  0% {
    -webkit-transform: translateX(50px) translateY(12px);
            transform: translateX(50px) translateY(12px);
  }
  20% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@keyframes line-bottom-close {
  0% {
    -webkit-transform: translateX(50px) translateY(12px);
            transform: translateX(50px) translateY(12px);
  }
  20% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@-webkit-keyframes lightsaber-top-open {
  0% {
    width: 0px;
  }
  100% {
    width: 100px;
    box-shadow: 0 0 8px 2px rgba(34,177,78, 0.7);
  }
}
@keyframes lightsaber-top-open {
  0% {
    width: 0px;
  }
  100% {
    width: 100px;
    box-shadow: 0 0 8px 2px rgba(34,177,78, 0.7);
  }
}
@-webkit-keyframes lightsaber-top-close {
  0% {
    width: 100px;
    box-shadow: 0 0 8px 2px rgba(34,177,78, 0.7);
  }
  100% {
    width: 0px;
  }
}
@keyframes lightsaber-top-close {
  0% {
    width: 100px;
    box-shadow: 0 0 8px 2px rgba(34,177,78, 0.7);
  }
  100% {
    width: 0px;
  }
}
@-webkit-keyframes lightsaber-bottom-open {
  0% {
    width: 0px;
  }
  100% {
    width: 100px;
    box-shadow: 0 0 8px 2px rgba(55,183,251, 0.7);
  }
}
@keyframes lightsaber-bottom-open {
  0% {
    width: 0px;
  }
  100% {
    width: 100px;
    box-shadow: 0 0 8px 2px rgba(55,183,251, 0.7);
  }
}
@-webkit-keyframes lightsaber-bottom-close {
  0% {
    width: 100px;
    box-shadow: 0 0 8px 2px rgba(55,183,251, 0.7);
  }
  100% {
    width: 0px;
  }
}
@keyframes lightsaber-bottom-close {
  0% {
    width: 100px;
    box-shadow: 0 0 8px 2px rgba(55,183,251, 0.7);
  }
  100% {
    width: 0px;
  }
}

@keyframes saber-before {
  0% {

  }
  20% {

  }
  100%{

  }
}

// Info
// Caroucel

.info-btn1 {
  top: 100px;
}

.info-btn2 {
  top: 200px;
}

.info-btn3 {
  top: 300px;
}

div.button {
  color: #2c3e50;
  border: none;
  border-radius: 30px;
  text-align: left;
  width: 500px;
  height: 80px;
  position: absolute;
  left: -65%;
  transition: .7s ease;
}

div.info-btn1{
  background-color: rgba(201,235,254,1);
}

div.info-btn2{
  background-color: rgba(255,254,230,1);
}

div.info-btn3{
  background-color: rgba(205,245,217,1);
}

.btn-text{
  text-align: center;
  position: relative;
  padding-right: 65px;
  top: 0;
  font-family: 'Orbitron';
}

div.button.info-btn1:hover {
  background-color: rgba(201,235,254,1);
  left: -600px;
  width: 600px;
  border-radius: 30px;
  box-shadow: 0 0 14px 4px rgba(55,183,251, 0.7);
}

div.button.info-btn2:hover {
  background-color: rgba(255,254,230,1);
  left: -600px;
  width: 600px;
  border-radius: 30px;
  box-shadow: 0 0 14px 4px rgba(255,242,0,0.7);
}

div.button.info-btn3:hover {
  background-color: rgba(205,245,217,1);
  left: -600px;
  width: 600px;
  border-radius: 30px;
  box-shadow: 0 0 14px 4px rgba(34,177,78, 0.7);
}

div.button:active {
  background-color: #2c3e50;
  transition: 0s;
  color: #ecf0f1;
}

.caroucel {
  position: relative;
  height: 500px;
  width: 50%;
  margin: auto;
}

.caroucel-images {
  width: 100%;
  height: 100%;
  object-fit:contain;
}

.caroucel-track-container {
  background: none;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.caroucel-track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.caroucel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.caroucel-button-left {
  left: -40px;
}

.caroucel-button-right {
  right: -40px;
}

.caroucel-button{
  position: absolute;
  top:50%;
  transform: trnslateY(-50%);
  cursor: pointer;
}

.caroucel-nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.caroucel-indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(255,255,255,.3);
  margin: 0 15px;
  cursor: pointer;
}

.caroucel-indicator.current-slide {
  background: rgba(255,255,255,0.75)
}

.council-text h1, h3 {
  text-align: center;
}

.is-hidden {
  display: none;
}

.bordering-images {

}

// Contacts
// Email form
label, input, textarea {
  display: block;
  font-size: 16px;
}

.header-font {
  font-family: 'Orbitron';

}
